<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.assignment"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" >
    </uses-sdk>

    <android:uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" >
    </android:uses-permission>
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </android:uses-permission>
    <android:uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" >
    </android:uses-permission>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launchernew"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.assignment.MainActivity"
            android:label="@string/app_name" >
        </activity>

        <!-- Registration Activity -->
        <activity
            android:name="com.example.assignment.RegistrationActivity"
            android:label="@string/app_name" >
           
        </activity>

        <!-- Login Activity -->
        <activity
            android:name="com.example.assignment.LoginActivity"
            android:label="@string/app_name" >
            
                <intent-filter>
                <action android:name="android.intent.action.MAIN" >
                </action>

                <category android:name="android.intent.category.LAUNCHER" >
                </category>
            </intent-filter>
          
        </activity>

        <!-- Movie Activity -->
        <activity
            android:name="com.example.assignment.MovieActivity"
            android:label="@string/app_name" >
        </activity>

        <!-- Cinema Activity -->
        <activity
            android:name="com.example.assignment.CinemaActivity"
            android:label="@string/app_name" >
            
         
              
        </activity>

        <!-- Session Activity -->
        <activity
            android:name="com.example.assignment.SessionActivity"
            android:label="@string/app_name" >
        </activity>

        <!-- History Activity -->
        <activity
            android:name="com.example.assignment.HistoryActivity"
            android:label="@string/app_name" >
        </activity>
        <!-- Map Activity -->
        <activity
            android:name="com.example.assignment.MapActivity"
            android:label="@string/app_name" >
        </activity>
        
        <!-- Left Menu -->
        <activity
            android:name="com.example.assignment.LeftMenuActivity"
            android:label="@string/app_name" >
        </activity>

        <!-- GalleryPicture Activity -->

        <activity
            android:name="com.example.assignment.GalleryPicture"
            android:label="@string/app_name" >
        </activity>
        <!-- MovieDisplay Activity -->
         <activity
            android:name="com.example.assignment.MovieDisplayActivity"
            android:label="@string/app_name" >
           
             
        </activity>
        
         <!-- MovieDisplay2 Activity -->
            <activity
            android:name="com.example.assignment.MovieDisplayActivity2"
            android:label="@string/app_name" >
           
             
        </activity>
         
         
         
        
        
    </application>

</manifest>