<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <connectionStrings>
    <add name="ConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;D:\Visual Studio 2015\workspace\5032Assignment25\CustomerTable.accdb&quot;"
      providerName="System.Data.OleDb" />
    <add name="ConnectionString2" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;D:\Visual Studio 2015\workspace\5032Assignment25\CustomerTable.accdb&quot;"
      providerName="System.Data.OleDb" />
    <add name="ConnectionString3" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;D:\Visual Studio 2015\workspace\5032Assignment25\CustomerTable.accdb&quot;"
      providerName="System.Data.OleDb" />
    <add name="ConnectionString4" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;D:\Visual Studio 2015\workspace\5032Assignment25\CustomerTable.accdb&quot;"
      providerName="System.Data.OleDb" />
    <add name="CustomerTableConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;D:\Visual Studio 2015\workspace\5032Assignment26\CustomerTable.mdb&quot;"
      providerName="System.Data.OleDb" />
    <add name="CustomerTableConnectionString2" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;D:\Visual Studio 2015\workspace\5032Assignment29\CustomerTable.mdb&quot;"
      providerName="System.Data.OleDb" />
    <add name="CustomerTableConnectionString3" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;D:\Visual Studio 2015\workspace\5032Assignment29\CustomerTable.mdb&quot;"
      providerName="System.Data.OleDb" />
    <add name="CustomerTableConnectionString4" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;D:\Visual Studio 2015\workspace\ass2_1\CustomerTable.mdb&quot;"
      providerName="System.Data.OleDb" />
  </connectionStrings>


  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>

    <customErrors mode="Off"/>
    <authentication mode="Forms">
      <forms name="ass2"   path="/" loginUrl="login.aspx" protection="All"   timeout="10"   />
    </authentication>

 

  </system.web>






  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>



</configuration>
