@{
    ViewBag.Title = "Documentation";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<address>
 Name : YANDONG ZHANG <br/>
 ID   : 26299038 <br/>
 Unit Name :  FIT5032 Internet Applications development <br />
 Unit Provider : Monash University,The Caulfiedl School of Information Technology <br />
 Assignment Number : Assignment 3 <br />
 Date of Submission : 15 /10 /2015 <br />
 Tutor Name : Julian <br />
</address>

<address>
    @*<strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />*@
    <strong>Email :</strong> <a href="http://yzha860@student.monash.edu">yzha860@student.monash.edu</a> <br/>
    <strong>Assginment Specification :</strong> <a href="http://moodle.vle.monash.edu/mod/page/view.php?id=2639939">Assignment 3</a>
</address>

<table>
    <tr>
        <td><h3>Picture</h3>  </td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td><h3>  Author  </h3> </td>
    </tr>
    <tr>
        <td><img src="~/Logo.jpg"/></td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td>Come from <a href="https://www.pinterest.com/ObservatoireJV/game-logo/"> Author Link</a></td>
    </tr>

</table>