@{
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" href="~/Content/ColorAnimation.css" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="~/Content/Progressbar.css"/>


<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="~/Scripts/ColorAnimation.js"></script>
<script src="~/Scripts/Progressbar.js"></script>



<div class="jumbotron">
    <h1>New York Game Shop</h1>
    <p class="lead">New Youk Game Shop offer the best game for our dear Customer.</p>
    <p><a href="https://www.youtube.com/watch?v=HF3ivYnnpSc" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

   <div class="row">
  <center>

      <div class="toggler">
          <div id="effect" class="ui-widget-content ui-corner-all">
              <h3 class="ui-widget-header ui-corner-all">Form light to dark</h3>
              <p>
                 Welcome to the Fantastic Game Word
              </p>
          </div>
      </div>

   


      <img src="~/Logo.jpg"/><br /><br/>

      <button id="button" class="ui-state-default ui-corner-all" >Light or Dark</button> <br/>

      <div id="progressbar"><div class="progress-label">Loading...</div></div>
  </center>

    </div>
